:root {
    --color-primary: hsl(0, 0%, 41%);
    --color-secondary: hsl(0, 0%, 98%);
    --color-accent: hsl(0, 0%, 8%);
}

html {
    font-size: 18px;
}

body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    background-color: var(--color-secondary);
}

header {
    padding: 1rem;
}

h2 {
    color: var(--color-accent);
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

p {
    color: var(--color-primary);
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

li {
    text-decoration: none;
    list-style: none;
}

/* Side Nav-bar */
.side-nav {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    z-index: 1;
    background-color: white;
    transition: 0.5s;
    text-align: left;
}

.side-nav ul {
    padding-left: 1rem;
    margin: 0.2rem 0 0;
}

.list-item {
    margin-left: 0.4rem;
}

.side-nav li:nth-of-type(n+1) {
    padding-top: 1rem;
}

.side-nav button {
    align-self: center;
    background-color: white;
    width: -webkit-fill-available;
    margin: 1rem 1rem 0;
    padding: 0.5rem 0;
}

.side-nav a {
    margin: 1rem 0 0 1rem;
    display: block;
}

.side-nav .close-menu {
    position: relative;
    top: 0;
    left: 9rem;
    margin: 1rem 0 0 50px;
}

@media screen and (min-width: 768px) {
    .side-nav {
        display: none;
    }
}

/* Collapsibles */
.collapsible-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.collapsible--expanded .arrow-down {
    transform: rotate(180deg);
}

.collapsible--expanded .collapsible-content {
    max-height: fit-content;
    opacity: 1;
}

.collapsible--expanded .first-item {
    padding-top: 0;
}

@media screen and (min-width: 768px) {
    .collapsible-content li {
        padding-top: 1rem;
    }
}

/* Top Nav */
.nav-content {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: fit-content;
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        display: flex;
        flex-direction: row;
        width: 20rem;
        overflow: hidden;
        height: fit-content;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: fit-content;
    }

    .navbar .collapsible-content {
        z-index: 1;
        position: absolute;
        margin: 1rem 0 0 0;
        background-color: white;
        padding: 1rem;
        width: fit-content;
        border-radius: 1rem;
        box-shadow: 0 0 10px 5px #e4e1e1;
    }

    .navbar .collapsible-content ul {
        padding: 0;
    }

    .open-menu {
        display: none;
    }
    
    .navbar-nav {
        display: flex;
        list-style: none;
        margin: 0;
    }    
    
    .navbar a {
        display: block;
        margin-right: 1rem;
        width: max-content;
    }

    .navbar .feature-item {
        position: absolute;
        left: 4rem;
    }
    
    .nav-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: -webkit-fill-available;
    }    
}


/* Image */
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.img2 {
    display: none;
    height: 500px;
}

@media screen and (min-width: 768px) {
    img {
        width: 100%;
    }

    .img {
        margin: 2rem 0 2rem 0;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
       
    }
}


/* Grid */
.grid {
    display: grid;
}

.text-content {
    text-align: center;
    padding: 1.5rem;
}

.text-content p {
    line-height: 1.3rem;

}

@media screen and (min-width: 768px) {
    .grid:nth-of-type(odd) .img {
        order: 2;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem;
        opacity: 1;
    }

    .text-content {
        align-self: center;
        text-align: left;
        flex-direction: column;
        display: flex;
    }

}


/* Buttons */
.btn {
    border: none;
    width: fit-content;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    font-weight: bold;
    font-size: 1rem;
}

.nav-button {
    padding: 0 1rem;
}

.btn-white {
    background-color: var(--color-secondary);
}

.btn-black {   
    color: var(--color-secondary);
    background-color: var(--color-accent);
    border-radius: 10px;
}

.btn-black_nav {
    color: var(--color-accent);
    background-color: var(--color-secondary);
    border: solid 1px black;
    border-radius: 10px;
}

.btn-black:hover {
    color: var(--color-accent);
    background-color: var(--color-secondary);
    border: solid 1px black;
}

@media screen and (min-width: 768px) {
    .buttons {
        justify-self: end;
    }

    .btn-body {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}


/* Icons */
.icons   {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem;
}

.arrow-down {
    margin-left: 5px;
}

@media screen and (min-width: 768px) {
    .arrow-down {
        margin-left: 4px;
    }
   
}